
table, th, tr, td{
    border: 1px solid black;
}
  
  table {
    border-collapse: collapse;
    border-radius: 20px; 
    width: 95%;
    margin: 25px;
}
  
  th {
      height: 50px;
      background-color:rgb(76, 154, 193);
      color: black;

  }

td{
    height: 85px;
}

